* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    text-align: justify;
}

.container {
    width: 80%;
    margin: 20px auto;
}

header {
    text-align: center;
    background-color: #00b1a5;
    color: white;
    padding: 20px;
}

header h1, h2 {
    margin-bottom: 10px;
}

header p {
    margin-bottom: 10px;
}

header .social-links a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

header .social-links a:hover {
    color: #e0e0e0;
}

header .social-links a i {
    margin-right: 8px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #0073b1;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.skills-columns {
    display: flex;
    justify-content: space-between;
}

.skills-columns ul {
    width: 45%;
}

.job-date {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    background-color: #00b1a5;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

footer a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .skills-columns {
        flex-direction: column;
        align-items: flex-start;
    }

    .skills-columns ul {
        width: 100%;
        margin-bottom: 10px;
    }
}
