- name: Copy Files for Deployment
  hosts: ec2
  become: true
  vars:
    master_dir: "/var/lib/jenkins/workspace/resume"
    node_dir: "/home/ubuntu/resume"
    web_content_dir: "{{ node_dir }}/web-content"
    docker_files:
      - src: "{{ master_dir }}/Dockerfile"
        dest: "{{ node_dir }}/Dockerfile"
      - src: "{{ master_dir }}/docker-compose.yml"
        dest: "{{ node_dir }}/docker-compose.yml"
  tasks:
    - name: Copy Docker files on ec2 server
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: '0644'
      with_items: "{{ docker_files }}"

    - name: Create web-content directory
      ansible.builtin.file:
        path: "{{ web_content_dir }}"
        state: directory
        mode: '0755'

    - name: Copy web content files to the ec2 server
      ansible.builtin.copy:
        src: "{{ master_dir }}/web-content/"
        dest: "{{ web_content_dir }}/"
        owner: root
        group: root
        mode: '0644'

    - name: Set directories permissions to 0755
      ansible.builtin.find:
        paths: "{{ web_content_dir }}"
        file_type: directory
      register: directories

    - name: Apply 0755 permissions to directories
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: directory
        mode: '0755'
      loop: "{{ directories.files }}"

    - name: Set file permissions to 0644
      ansible.builtin.find:
        paths: "{{ web_content_dir }}"
        file_type: file
      register: files

    - name: Apply 0644 permissions to files
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: file
        mode: '0644'
      loop: "{{ files.files }}"