- name: Copy Files for Deployment
  hosts: ec2
  become: true
  vars:
    master_dir: "/var/lib/jenkins/workspace/resume"
    node_dir: "/home/ubuntu/resume"
    web_content_dir: "{{ node_dir }}/web-content"
    docker_files:
      - src: "{{ master_dir }}/Dockerfile"
        dest: "{{ node_dir }}/Dockerfile"
      - src: "{{ master_dir }}/docker-compose.yml"
        dest: "{{ node_dir }}/docker-compose.yml"
  tasks:
    - name: Copy Docker files on ec2 server
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: '0644'
      with_items: "{{ docker_files }}"

    - name: Copy web content files to the ec2 server
      ansible.builtin.copy:
        src: "{{ master_dir }}/web-content"
        dest: "{{ web_content_dir }}"
        owner: root
        group: root
        mode: '0644'
        recurse: yes

    - name: Set directories permissions to 0755
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      with_items: "{{ lookup('fileglob', web_content_dir + '/**', wantlist=True) }}"
      when: item is directory

    - name: Set file permissions to 0644
      ansible.builtin.file:
        path: "{{ item }}"
        state: file
        mode: '0644'
      with_items: "{{ lookup('fileglob', web_content_dir + '/**', wantlist=True) }}"
      when: item is file